@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]) {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
}
